@model Ipsi.Models.LoginInfo
@{
    ViewData["Title"] = "About";
}

	<div class="text-center">
		<!-- Main Form -->
		<div>
			<form asp-controller="Auth" method="post" class="form-signin">
				<h1 class="h3 mb-3 font-weight-normal">입시 종합정보 로그인</h1>
				<label for="inputEmail" class="sr-only">아이디</label>
				<input type="text" asp-for="Id" class="form-control" placeholder="교직원 아이디를 입력해주세요." required autofocus>
				<label for="inputPassword" class="sr-only">패스워드</label>
				<input type="password" asp-for="Password" class="form-control" placeholder="교직원 패스워드를 입력해주세요." required>
				<div class="checkbox mb-3">
					<label>
					<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
			</form>
		</div>
		<!-- end:Main Form -->
	</div>

